{% extends 'rol_y_aventura/base.html' %}

{% block contenido %}
    <h1>Acerca del Blog</h1>
    <h5>
        ¡Bienvenidos al foro Teatro de Media Noche! Este foro fue creado como trabajo final del curso de Python por Mauro Ezequiel Amaya, el 01/01/2023. Está destinado a jugadores de juegos de rol de todas las edades y niveles de experiencia que deseen compartir sus historias, consejos y preguntas sobre sus juegos favoritos.
        Por favor, ten en cuenta que en este foro se respetan las normas de convivencia y se prohíbe cualquier tipo de contenido inapropiado o ofensivo. Si tienes alguna pregunta o problema, no dudes en ponerte en contacto con la administración del foro a través de los enlaces proporcionados.
        Este foro ha crecido gracias a la participación activa y apasionada de nuestra comunidad. ¡Esperamos que te unas a nosotros y compartas tu pasión por los juegos de rol!
        Síguenos en nuestras redes sociales para estar al tanto de las últimas novedades y eventos del foro. ¡Te esperamos!
 
    <h5> 
{% endblock %}